.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1B263B,#2c3e50);
}

.login-card{
background:white;
padding:40px;
border-radius:10px;
width:350px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.login-card h2{
margin-bottom:5px;
color:#1B263B;
}

.login-card p{
font-size:14px;
color:#777;
margin-bottom:25px;
}

.login-card input{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:6px;
margin-bottom:20px;
font-size:14px;
}

.login-card input:focus{
outline:none;
border-color:#1B263B;
}

.login-card button{
width:100%;
padding:12px;
background:#1B263B;
color:white;
border:none;
border-radius:6px;
font-size:15px;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover{
background:#2c3e50;
}